@media (max-width: 600px) {

    html body {
        transition: 0.3s;
    }

    .webTitle {
        font-size: 7vh;
        font-weight: 900;
    }

    /* Navigation Bar */

    #navbar {
        transition: 0.5s;
        margin: 0px;
        padding: 10px 40px 10px 40px;
        border-radius: 0px;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .logo{
        filter: invert(1);
        width: 20vw;
    }

    nav ul {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: black;
        overflow: hidden;
        z-index: 1;
    }

    nav ul li {
        width: 100vw;
        padding: 20px;
        margin-right: 0px;
        border-bottom: 0.1px solid white;
    }

    nav ul li:nth-child(4) {
        border-bottom: none ;
    }

    .menubar {
        display: block;
        width: auto;
        height: auto;
    }

    #menuList {
        transition: 0.5s;
    }

    /* Navigation Bar */

    /* Home */

    #headshot {
        width: 90%;
        border-radius: 30px;
        margin-right: 0;
        margin-bottom: 10%;
    }

    #homeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10%;
        padding: 0;
    }
    .myname {
        font-weight: 900;
        font-size: 3.5rem;
        text-align: center;
        line-height: 100%;
    }

    #sideContainer {
        text-align: center;
    }

    .nameSub {
        font-weight: 300;
        font-size: 1rem;
        line-height: 25px;
        margin-left: 0px;
        margin-top: 10px;
    }

    #linkedin {
        margin-right: 1rem;
    }

    #logosContainer img {
        width: 2.5rem;
        margin-right: 0rem;
    }

    #logosContainer {
        margin-left: 0;
    }

    /* Home */

    /* About */
    #aboutContainer {
        text-align: center;
        margin: 8% 10% 8% 10%;
    }

    #aboutInfo {
        margin: 2rem 0 0 0;
        font-size: 1.2rem;
    }

    /* Contact */

.contactFull {
    align-items: center;
    text-align: center;
    margin: 8% 10% 8% 10%;
}


#contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactMessage {
    font-size: 20px;
    line-height: 30px;
}

#formContainer {
    text-align: left;
    line-height: 3em;
    padding-top: 2%;
}

input {
    border-radius: 5px;
    padding: 15px;
    width: 92%;
    color: black;
}

textarea {
    border-radius: 5px;
    padding: 15px;
    color: black;
    width: 92%;
}

button {
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#contactSideContainer {
    
    margin: 20px 0 0 0;
    padding: 0;
}

#logosContainerContact img{
    width: 2.5rem;
    margin-left: 5%;
    margin-top: 20px;
}

/* Contact */
}

